body {
  margin: 0px;
  font-family: "Muli", sans-serif;
}

.header {
  background-color: #1c2541;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
}

.register {
  background: linear-gradient(#1c2541, #5bc0be);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 40px;
  color: white;
  min-height: 700px;
  min-width: 300px;
  padding: 60px 68px 40px;
}

.register__container--form {
  display: flex;
  flex-direction: column;
}

.register__container a {
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
}
.register__container a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}
/*Pseudo element*/
::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #5bc0be;
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
