<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/carrousel.css">
</head>
<body>
    <section class="carrousel">
        <div class="carrousel__container">
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="img/vr.jpeg" alt="VR">
                <div class="carrousel-item__details">
                    <div>
                        <img src="img/play.png" alt="Play"/>
                        <img src="img/plus.png" alt="Plus"/>                        
                    </div>
                    <p class="carrousel-item__details--title">Descriptive title</p>
                    <p class="carrousel-item__details--subtitle">2020 16+ 114 minutes</p>
                </div>
            </div>
            
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="img/applewatch.jpeg" alt="Watch">
                <div class="carrousel-item__details">
                    <div>
                        <img src="img/play.png" alt="Play"/>
                        <img src="img/plus.png" alt="Plus"/>                        
                    </div>
                    <p class="carrousel-item__details--title">Descriptive title</p>
                    <p class="carrousel-item__details--subtitle">2020 16+ 114 minutes</p>
                </div>
            </div>

            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://images.pexels.com/photos/3861959/pexels-photo-3861959.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Laptop1">
                <div class="carrousel-item__details">
                    <div>
                        <img src="img/play.png" alt="Play"/>
                        <img src="img/plus.png" alt="Plus"/>                        
                    </div>
                    <p class="carrousel-item__details--title">Descriptive title</p>
                    <p class="carrousel-item__details--subtitle">2020 16+ 114 minutes</p>
                </div>
            </div>

            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://images.pexels.com/photos/3913025/pexels-photo-3913025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="AI">
                <div class="carrousel-item__details">
                    <div>
                        <img src="img/play.png" alt="Play"/>
                        <img src="img/plus.png" alt="Plus"/>                        
                    </div>
                    <p class="carrousel-item__details--title">Descriptive title</p>
                    <p class="carrousel-item__details--subtitle">2020 16+ 114 minutes</p>
                </div>
            </div>

            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://images.pexels.com/photos/442150/pexels-photo-442150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Network">
                <div class="carrousel-item__details">
                    <div>
                        <img src="img/play.png" alt="Play"/>
                        <img src="img/plus.png" alt="Plus"/>                        
                    </div>
                    <p class="carrousel-item__details--title">Descriptive title</p>
                    <p class="carrousel-item__details--subtitle">2020 16+ 114 minutes</p>
                </div>
            </div>

            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://images.pexels.com/photos/4145356/pexels-photo-4145356.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="VR boy">
                <div class="carrousel-item__details">
                    <div>
                        <img src="img/play.png" alt="Play"/>
                        <img src="img/plus.png" alt="Plus"/>                        
                    </div>
                    <p class="carrousel-item__details--title">Descriptive title</p>
                    <p class="carrousel-item__details--subtitle">2020 16+ 114 minutes</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Code">
                <div class="carrousel-item__details">
                    <div>
                        <img src="img/play.png" alt="Play"/>
                        <img src="img/plus.png" alt="Plus"/>                        
                    </div>
                    <p class="carrousel-item__details--title">Descriptive title</p>
                    <p class="carrousel-item__details--subtitle">2020 16+ 114 minutes</p>
                </div>
            </div>
            <!-- images
            
                https://images.pexels.com/photos/3861959/pexels-photo-3861959.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
                https://images.pexels.com/photos/3913025/pexels-photo-3913025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260

                https://images.pexels.com/photos/4145356/pexels-photo-4145356.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
                https://images.pexels.com/photos/442150/pexels-photo-442150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
                https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
                https://images.pexels.com/photos/193349/pexels-photo-193349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
                https://images.pexels.com/photos/2280547/pexels-photo-2280547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
                https://images.pexels.com/photos/50711/board-electronics-computer-data-processing-50711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260

            
            -->
        </div>

    </section>
</body>
</html>