<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/register.css" />
    <!-- <link rel="stylesheet" href="styles/login.css" /> -->
  </head>
  <body>
    <header class="header">
      <img class="header__img" src="img/logoG2.png" alt="Logo" />
    </header>

    <section class="register">
      <section class="register__container">
        <h2>Register</h2>
        <form class="register__container--form">
          <input type="text" class="input" name="" id="" placeholder="Name" />
          <input type="text" class="input" name="" id="" placeholder="Email" />
          <input
            type="password"
            class="input"
            name=""
            id=""
            placeholder="Password"
          />
          <button class="button">Register</button>
        </form>
        <a href="#">Log in</a>
      </section>
    </section>

    <footer class="footer">
      <a href="#">Terms of use</a>
      <a href="#">Privacy Declaration</a>
      <a href="#">Help Center</a>
    </footer>
  </body>
</html>
