<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/video.css">
    
</head>
<body>
    <header class="header">
        <img class="header__img" src="img/logoG2.png" alt="Logo">    
        <div class="header__menu">
            <div class="header__menu--profile">
                <img src="img/user_icon.png" alt="User">
                <p>Profile</p>
            </div>
            <ul>
                <li><a href="/">Account</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </header>

    <section class="main">
        <h2 class="main__title">What do you want to see?</h2>
        <input class="input" type="text" placeholder="Search...">
    </section>

    <footer>
        Footer
    </footer>
</body>
</html>